body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    font-size: 16px;
}
#mynumber{
    width:200px;
}

label {
    margin: 5px 0;
    font-size: 16px;
    color: rgb(50, 50, 50);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: 50px auto;
    background-color: rgb(225, 227, 230);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
button {
    background-color: rgb(24, 73, 116);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(3, 24, 44);
}

#mycancel {
    background-color: rgb(228, 26, 26);
}

#mycancel:hover {
    background-color: rgb(150, 0, 0);
}
